<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Hello Code</title>
</head>
<body>

    <div id="app">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center m-3">Product</h1>
                <hr>
                    <p>{{ product }}</p>
                    <p>{{ author }}</p>
                    <p>{{ description }}</p>
                    <p>{{ components }}</p>
                    <hr>
                    <p>
                        Product: <input v-model="product">
                    </p>
                    <p>
                        Author: <input v-model="author">
                    </p>
                    <p>
                        Description: <input v-model="description">
                    </p>
                    <p>
                        Components: <button class="btn btn-success mx-1 px-4" @click="components++ "> plus </button>
                                <button class="btn btn-danger mx-1 px-4" v-on:click="components-- "> minimise </button>
                                <button class="btn btn-warning mx-1 px-4" @click="clearAllFields()"> Clear </button>
                    </p>
            </div>
        </div>
        

    </div>

    <script src="vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    product: "Rocket",
                    author: "Sadeq",
                    description: "I love this job",
                    components: 101,
                }
            },
            methods: {
                clearAllFields() {
                    this.product= "";
                    this.author= "";
                    this.description= "";
                    this.components= "";
                }
            }
        }).mount('#app')
    </script>
</body>
</html>